.home__container{
    background: #CCCCCC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home{
    width: 1200px;
    height: 875px;
    background-color: white;
    margin-top: 79px;
    margin-bottom: 80px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    border-radius: 10px;

    &__title{
        margin-bottom: 54px;
        text-align: center;
        font-family: inter;
        font-style: italic;
        font-size: 24px;
        line-height: 36px;
        color: rgba(0, 0, 0, 0.87);
    }

    &__content{
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 61px;
        margin-bottom: 80px;

        & h2{
            font-weight: bold;
            font-family: inter;
            font-size: 16px;
            line-height: 150%;
            color: #19191D;
            letter-spacing: 0,0275em;
        }
        & p{
            font-family: inter;
            font-size: 14px;
            line-height: 21px;
            
        }
    }
}