<div class="home__container">
    <div class="home">
        <div class="home__title">
            <h1>Bienvenido a Shopéame</h1>
        </div>
        <div class="home__content">

            <h2>¿Que es Shopéame?</h2>

            <p>lorem ipsum dolor sit amet, consectetlorem ipsum dolor sit amet, consectetlorem ipsum dolor sit amet,
                consectetlorem ipsum dolor sit amet, consectetlorem ipsum dolor sit amet, consectetlorem ipsum dolor sit
                amet, consectetlorem ipsum dolor sit amet, consectetlorem ipsum dolor sit amet, consectetlorem ipsum
                dolor sit amet, consectetlorem ipsum dolor sit amet, consectet Lorem, ipsum dolor sit amet consectetur
                adipisicing elit. Placeat, suscipit. Totam, est enim ipsam quibusdam omnis, ex fugiat distinctio
                mollitia ad deleniti cumque odio odit et sunt ducimus repellat quas lorem. Lore lorem ipsum dolor sit
                amet, consect Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur nihil consequuntur, vel
                voluptate reprehenderit fugit temporibus consectetur adipisci? Maxime illo laudantium laborum omnis
                corporis exercitationem a nemo placeat perferendis nulla!o lorem ipsum dolor sit amet, consectetlorem
                ipsum dolor sit amet, consectetlorem ipsum dolor sit amet, consectetlorem ipsum dolor sit amet, </p>

            <h2>¿Para que puedo usar Shopéame?</h2>

            <p> lorem lorem ipsum dolorlorem ipsum dolor sit amet, consectetlorem ipsum dolor sit amet, consectetlorem
                ipsum dolor sit amet, consectetlorem ipsum dolor sit amet, consectetlorem ipsum dolor sit amet,
                consectetlorem ipsum dolor sit amet, consectetlorem ipsum dolor sit amet, consectetlorem ipsum dolor sit
                amet, consectetlorem ipsum dolor sit amet, consectetlorem ipsum dolor sit amet, consectetconsectetlorem
                ipsum dolor sit amet, consectet Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat,
                suscipit. Totam, est enim ipsam quibusdam omnis, ex fugiat distinctio mollitia ad deleniti cumque odio
                odit et sunt ducimus repellat quas lorem. Lore lorem ipsum dolor sit amet, consect Lorem ipsum dolor sit
                amet, consectetur adipisicing elit. Tenetur nihil consequuntur, vel voluptate reprehenderit fugit
                temporibus c</p>


            <h2>¿Que hacemos en Shopéame?</h2>

            <p>lorem ipsum dolor sit amet, consectetlorem ipsum dolor sit amet, consectetlorem ipsum dolor sit amet,
                consectetlorem ipsum dolor sit amet, consectetlorem ipsum dolor sit amet, consectetlorem ipsum dolor sit
                amet, consectetlorem ipsum dolor sit amet, consectetlorem ipsum dolor sit amet, consectetlorem ipsum
                dolor sit amet, consectetlorem ipsum dolor sit amet, consectetconsectetlorem ipsum dolor sit amet,
                consectet Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat, suscipit. Totam, est enim
                ipsam quibusdam omnis, ex fugiat distinctio mollitia ad deleniti cumque odio odit et sunt ducimus
                repellat quas lorem. Lore lorem ipsum d</p>


            <h2>¿Es seguro usar Shopéame?</h2>
            <p>lorem ipsum dolor sit amet, consectetlorem ipsum lorem. Lorem ipsum dolor sit amet,
                consectloremmmmmmffldsfksdfconsectetlorem ipsum dolor sit amet, consectetlorem ipsum dolor sit amet,
                consectetlorem ipsum dolor sit amet, consectetlorem ipsum dolor sit amet, consectetlorem ipsum dolor sit
                amet, consectetlorem ipsum dolor sit amet, consectetlorem ipsum dolor sit amet, consectetlorem ipsum
                dolor sit amet, consectetconsectetlorem ipsum dolor sit amet, consectet Lorem, ipsum dolor sit amet
                Impedit repellat assumenda soluta alias nostrum itaque dolorem omnis velit excepturi magnam dicta esse,
                nulla quibusdam, voluptatum voluptate fugit accusantium? lorem. Lore lorem ipsum dolor sit amet, consect
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur nihil consequuntur, vel voluptate
                reprehenderit fugit temporibus consectetur </p>

        </div>
    </div>
</div>