<nav class="c-nav">
    <div class="c-nav__div" routerLink="/" routerLinkActive="c-nav__div__link--active" [routerLinkActiveOptions]="{exact:true}">
        <img class="c-nav__div__icon1" src="./assets/iconos-header/icon-nav-1.svg" alt="">
        <a  class="c-nav__div__link" >Home</a>
    </div>
    <div class="c-nav__div--central" routerLinkActive="c-nav__div__link--active" routerLink="/prods">
        <img class="c-nav__div__icon2" src="./assets/iconos-header/icon-nav-2.svg" alt="">
        <a class="c-nav__div__link">Prods.</a>
    </div>
    <div class="c-nav__div" routerLinkActive="c-nav__div__link--active" routerLink="/gestion">
        <img class="c-nav__div__icon3" src="./assets/iconos-header/icon-nav-3.svg" alt="">
        <a class="c-nav__div__link" >Gestion</a>
    </div>

</nav>