.c-title {
  display: flex;
  align-items: center;
  justify-content: center;

  &__icon{
      width: 40px;
      height: 40px;
      font-family: "Red Hat Display", sans-serif;
      text-align: center;
      background-color: linear-gradient(#2979FF, #4C589E);

      p{
          margin: 0;
          color: white;
          font-size: 32px;
          font-weight: bold;
          border-radius: 6px;
          background: linear-gradient(to right,#2979FF, #4C589E);
      }
  }

  &__font {
    font-family: "Red Hat Display", sans-serif;
    color: #0c2146;
    margin-left: 12px;
    margin-top: 32px;
    margin-bottom: 32px;
  }
}
