.footer {
    
    width: 100%;
    height: 280px;
    background: #333333;
    text-align: center;
    color: white;
    font-family: inter;
    font-style: normal;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    letter-spacing: 0.018em;
    font-size: 20px;
}

h3{
    margin:0;
}